body {
  background-image: url("Imagens/estrelas.gif");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Concert One", sans-serif;
  font-weight: 400px;
  font-style: normal;
}

.profile {
  width: 80px;
  border-radius: 100px;
  position: absolute;
}
.capaA {
  width: 300px;
  position: absolute;
  top: 800px;
  left: 400px;
  border: 2px solid grey;
 
}

.capaB {
  width: 300px;
  position: absolute;
  top: 800px;
  left: 1200px;
  border: 2px solid grey;
}

.caixaplayA {
  position: absolute;
  top: 1120px;
  left: 400px;
}

.caixaplayB {
  position: absolute;
  top: 1120px;
  left: 1200px;
}

.caixaplay {
  position: absolute;
  top: 1750px;
  left: 350px;
}
.caixaplay2 {
  position: absolute;
  top: 2200px;
  left: 350px;
}

.caixaplay3 {
  position: absolute;
  top: 2550px;
  left: 350px;
}

.titulo {
  width: 200px;
  position: absolute;
  left: 800px;
  top: 20px;
}

.subtitulo {
  display: flex;
  color: white;
  border: 10px solid pink;
  display: inline-block;
  padding: 4px 20px 30px;
  font-size: 13px;
  margin-left: 500px;
  text-align: center;
  border-radius: 50px;
  
}

.ajuste {
  margin-top: 500px;
  margin-bottom: -20px;
}

.capa {
  width: 100px;
  margin-right: 500px;
  margin-top: 70px;
  border: 2px solid grey;
}

.capa2 {
  width: 100px;
  margin-right: 500px;
  margin-top: 70px;
  border: 2px solid grey;
}

.capa3 {
  width: 299px;
  margin-right: 500px;
  margin-top: 70px;
  border: 2px solid grey;
}

body {
  font-size: 300%;
}

.titulo,
.subtitulo,
h3 {
  font-size: 300%;
}

.capa,
.capa2 {
  width: 300px;
}

audio {
  width: 300px;
  background-color: pink;
  border-radius: 30px;
  padding: 5px;
}
